@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
/*@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption);*/
/*@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic);*/
/*@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic&subset=latin,cyrillic);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);*/
/*@import url(https://fonts.googleapis.com/css?family=Sigmar+One);*/
@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);

body
{
    background-color: #fff8dc;
    background: url("background.png") center top no-repeat,
    url('paper_texture.jpg') 0 0 repeat;
}

h1 
{
    font-family: 'Playball', cursive;
    font-size: 102px;
    text-align: center;
    color: rgba(35, 35, 35, .8);
    text-shadow: 5px 5px rgba(35, 35, 35, .4);
    text-transform: capitalize;
    line-height: 0.2;
}

h2
{
    font-family: 'Bad Script', cursive;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
q
{
    font-size: 20px;
    color: #2F3F3F;
}
p
{
    font-family: 'Marck Script', cursive;
    text-indent: 20px;
    text-align: justify;
}
.curentTime
{
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    /*border-top: 7px double #000;*/
    /*border-bottom: 7px double #000;*/
    text-align: center;
    /*padding-bottom: 7px;*/
    border-bottom: 22px solid transparent;
    -moz-border-image: url("top.png") 568 30 repeat;
    -webkit-border-image: url("top.png") 568 30 repeat;
    border-image: url("top.png") 568 30 repeat;
}


div
{
        /* в Chrome-like браузерах и Firefox
           свойство работает только с префиксами */
        /*column-count: 2;*/
        /*column-gap: 300px; растояние между столбцами*/
        /*column-rule: 2px solid #0f0; /*разделитель*/
}

section
{
    display: block;
}
.wraper 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    /*border-right: 7px double #000;*/
    /*border-bottom: 2px solid #000;*/

    padding-bottom: 7px;
    border-bottom: 20px solid transparent;
    -moz-border-image: url("bottom2.png") 18 200 repeat;
    -webkit-border-image: url("bottom2.png") 18 200 repeat;
    border-image: url("bottom2.png") 18 200 repeat;
}

.mainArticle
{
    width: calc(35vw - 20px);
    /*min-width: 300px;*/
    /*-moz-column-rule: 2px solid #000; */
    /*-moz-column-gap: 10px;*/
    /*float: left;*/
}
.mainArticle > article
{
    /*-moz-column-count: 2;*/
    /*-moz-column-rule: 2px solid #000; */
}

.mainArticle h2
{
    font-size: 30px;
}
.mainArticle p
{
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

.rightColomn
{
    width: calc(24vw - 20px);
    border-left: 20px solid transparent;
    /*margin-top: 20px;*/
    /*-moz-border-image:url("/files/4127/border.png") 30 30 repeat*/
    -moz-border-image: url("bottom1.png") 33 370 repeat;
    -webkit-border-image: url("bottom1.png") 33 370 repeat;
    border-image: url("bottom1.png") 33 370 repeat;
    /* padding-left: 7px;
    border-left: 2px solid #000;*/
}

.articles
{
    width: calc(37vw - 20px);
    /*min-width: 600px;*/
    /*float: right;*/

    padding-left: 7px;
    border-left: 20px solid transparent;
    /*margin-top: 20px;*/
 /*-moz-border-image:url("/files/4127/border.png") 30 30 repeat*/
    -moz-border-image: url("bottom1.png") 18 200 repeat;
    -webkit-border-image: url("bottom1.png") 18 200 repeat;
    border-image: url("bottom1.png") 18 200 repeat;
}
.articles > article
{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    /*-moz-column-rule: 2px solid #000; */
}

article p:first-child::first-letter
{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

header h2
{
    /*column-span: 2;*/
    /*Не работает в ff*/
}

.imgEvro
{
    width: 95%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 20px;
    /*column-span: all;*/
}
.imgNato
{
    width: 100%;
    border-radius: 20px;
    padding-top: 10px;
    border-top: 1px solid #000;
}
.imgBordMain
{
    width: 100%;
}

footer
{
    font-family: 'Marck Script', cursive;
    display: block;
    text-align: center;
    font-size: 20px;
    
    border-top: 12px solid transparent;
    /*margin-top: 20px;*/
    /*-moz-border-image:url("/files/4127/border.png") 30 30 repeat*/
    -moz-border-image: url("bottom2.png") 270 20 repeat;
    -webkit-border-image: url("bottom2.png") 270 20 repeat;
    border-image: url("bottom2.png") 270 20 repeat;
}
.headNato
{
    border-top: 12px solid transparent;
    margin-top: 20px;
    /*-moz-border-image:url("/files/4127/border.png") 30 30 repeat*/
    -moz-border-image: url("top2.png") 270 20 repeat;
    -webkit-border-image: url("top2.png") 270 20 repeat;
    border-image: url("top2.png") 270 20 repeat;
    /*border-image: url(top1.png) 27 27 27 27 round;*/
    /*border-image-left: url(border.png) 27 27 27 27 round*/
}
/*Здесь, при переносе скобки, начинает ругаться редактор*/
@media all and (max-width: 800px) {
    .articles
    {
        width: calc(100vw - 30px);
        min-width: 0px;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        /*float: none;*/
    }
    .mainArticle
    {
        width: calc(100vw - 30px);
        min-width: 0px;
        /*float: none;*/
    }
    .rightColomn
    {
        width: calc(100vw - 20px);
    }
    img
    {
        max-width: calc(100vw - 30px);
    }
}
